@import "./colors.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: $positive;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}
