// colors
$jet-black: #000;
$niconico-black: #252525;

$atsumaru-red: #c30d23;
$atsumaru-blue: #046eb8;
$atsumaru-green: #00913a;
$atsumaru-yellow: #f8d62d;
$atsumaru-purple: #7403b8;

$pure-white: #FFF;
$white: #f8f8f8;

$positive: #39e;
$negative: #FF5555;
