// colors
$jet-black: #000;
$niconico-black: #252525;

$atsumaru-red: #c30d23;
$atsumaru-blue: #046eb8;
$atsumaru-green: #00913a;
$atsumaru-yellow: #f8d62d;
$atsumaru-purple: #7403b8;

$pure-white: #FFF;
$white: #f8f8f8;
$gray1: #C8C8C0;
$gray2: #989890;
$gray3: #646068;
$gray4: #444048;

$positive-base:   #CCEEFF;
$positive-light:  #66BBFF;
$positive:        #3399EE;
$positive-shadow: #1177CC;
$positive-dark:   #006699;

$negative-base:   #FFEEEE;
$negative-light:  #FF9999;
$negative:        #FF5555;
$negative-shadow: #CC1111;
$negative-dark:   #990000;

$caution-base:   #FFFCDD;
$caution-light:  #FFE866;
$caution:        #FFCC00;
$caution-shadow: #CC9900;
$caution-dark:   #997700;
